<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8"/>
        <title>Заявка на кредитную карту</title>
    </head>
    <body>
        <form action="#" th:action="@{add}" th:object="${creditCard}" method="post">
			<label for="maxAmount">Лимит</label>
			<input type="number" th:field="*{maxAmount}" id="maxAmount" placeholder="0.0">
			<span th:if="${#fields.hasErrors('maxAmount')}" th:errors="*{maxAmount}"></span>
			<label for="duration">Срок в днях</label>
			<input type="number" th:field="*{duration}" id="duration" placeholder="365">
			<span th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></span>
			<input type="submit" value="Создать">   
		</form>
		<a th:href="@{/office/credit-cards}">Отменить</a>
    </body>
</html>