<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8"/>
        <title>Новый кредит</title>
    </head>
    <body>
        <form action="#" th:action="@{add}" th:object="${credit}" method="post">
			<div th:if="${error != null}" th:text="${error}" name="error"></div>
			<label for="cardId">Номер карты</label>
			<select id="cardId" name="cardId">
                <option th:each="card : ${creditCards}" th:value="${card.id}" th:text="${card.id}"></option>
            </select>
			
			<label for="amount">Сумма</label>
			<input type="number" th:field="*{amount}" id="amount" placeholder="0.0">
			<span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
			
			<label for="currency">Валюта</label>
			<select id="currency" name="currency">
                <option th:value="RUB">Рубли</option>
                <option th:value="EUR">Евро</option>
                <option th:value="USD">Доллары</option>
            </select>
			
			<input type="submit" value="Подтвердить">   
		</form>
		<a th:href="@{/office/credits}">Отменить</a>
    </body>
</html>