<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8"/>
        <title>Новый тариф по вкладу</title>
    </head>
    <body>
        <form action="#" th:action="@{edit}" th:object="${depositRate}" method="post">
			<input type="hidden" th:field="*{id}">
			<label for="minAmount">Минимальная сумма</label>
			<input type="number" th:field="*{minAmount}" id="minAmount" placeholder="0.0">
			<span th:if="${#fields.hasErrors('minAmount')}" th:errors="*{minAmount}"></span>
			<label for="maxAmount">Максимальная сумма</label>
			<input type="number" th:field="*{maxAmount}" id="maxAmount" placeholder="0.0">
			<span th:if="${#fields.hasErrors('maxAmount')}" th:errors="*{maxAmount}"></span>
			<label for="rate">Процентная ставка</label>
			<input type="number" th:field="*{rate}" id="rate" placeholder="0.0">
			<span th:if="${#fields.hasErrors('rate')}" th:errors="*{rate}"></span>
			<label for="duration">Длительность вклада в месяцах</label>
			<input type="number" th:field="*{duration}" id="duration" placeholder="12">
			<span th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></span>
			
			<label for="capitalized">Капитализируемый</label>
			<input type="checkbox" th:field="*{capitalized}" id="capitalized">
			<label for="closable">Закрываемый досрочно</label>
			<input type="checkbox" th:field="*{closable}" id="closable">
			<label for="replenishable">Доступный для пополнения</label>
			<input type="checkbox" th:field="*{replenishable}" id="replenishable">
			<label for="withdrawable">Доступный для снятия средств</label>
			<input type="checkbox" th:field="*{withdrawable}" id="withdrawable">
			
			<input type="submit" value="Подтвердить">   
		</form>
		<a th:href="@{/office/admin/deposit-rates}">Отменить</a>
    </body>
</html>