<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8"/>
        <title>Новый вклад</title>
    </head>
    <body>
        <form action="#" th:action="@{add}" th:object="${deposit}" method="post">
			<div th:if="${error != null}" th:text="${error}" name="error"></div>
			<label for="rateId">Номер тарифного плана</label>
			<select id="rateId" name="rateId">
                <option th:each="depositRate : ${depositRates}" th:value="${depositRate.id}" th:text="${depositRate.id}"></option>
            </select>
			
			<label for="amount">Сумма</label>
			<input type="number" th:field="*{amount}" id="amount" placeholder="0.0">
			<span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>

			<label for="renewable">Автопродление</label>
			<input type="checkbox" th:field="*{renewable}" id="renewable">
			
			<input type="submit" value="Подтвердить">   
		</form>
		<a th:href="@{/office/deposits}">Отменить</a>
    </body>
</html>