<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8"/>
        <title>Новый перевод</title>
    </head>
    <body>
        <form action="#" th:action="@{add}" th:object="${transfer}" method="post">
			<div th:if="${error != null}" th:text="${error}" name="error"></div>
			<label for="cardId">Номер карты</label>
			<select id="cardId" name="cardId">
                <option th:each="card : ${cards}" th:value="${card.id}" th:text="${card.id}"></option>
            </select>
			
			<label for="amount">Сумма</label>
			<input type="number" th:field="*{amount}" id="amount" placeholder="0.0">
			<span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
			
			<label for="destination">Номер карты получателя</label>
			<input type="number" th:field="*{destination}" id="destination" placeholder="0000000000000000">
			<span th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}"></span>
			
			<input type="submit" value="Перевести">   
		</form>
		<a th:href="@{/office/transfers}">Отменить</a>
    </body>
</html>