<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8"/>
        <title>Мониторинг переводов</title>
    </head>
    <body>
        <div>
			<a th:href="@{/office/admin}">Назад</a>
		</div>
		<div th:switch="${transfers.isEmpty()}">
			<h2 th:case="true">Подозрительный переводов нет</h2>
				<div th:case="false">
					<h2>Переводы</h2>
					<table>
						<thead>
							<tr>
								<th>Номер карты отправителя</th>
								<th>Номер карты получателя</th>
								<th>Сумма</th>
								<th>Дата и время</th>
								<th>Статус</th>
								<th>Подтвердить</th>
								<th>Заблокировать</th>
							</tr>
						</thead>
						<tbody>
						<tr th:each="transfer : ${transfers}">
							<td th:text="${transfer.from.serialNumber}"></td>
							<td th:text="${transfer.destination}"></td>
							<td th:text="${transfer.amount}"></td>
							<td th:text="${transfer.dateTime}"></td>
							<td th:text="${transfer.status}"></td>
							<td><a th:href="@{transfers/accept(id=${transfer.id})}">Подтвердить</a></td>
							<td><a th:href="@{transfers/reject(id=${transfer.id})}">Заблокировать</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
    </body>
</html>