<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8"/>
        <title>Редактирование кредитной карты</title>
    </head>
    <body>
        <form action="#" th:action="@{edit}" th:object="${creditCard}" method="post">
			<input type="hidden" th:field="*{id}">
			<label for="maxAmount">Лимит</label>
			<input type="number" th:field="*{maxAmount}" id="maxAmount" placeholder="0.0">
			<span th:if="${#fields.hasErrors('maxAmount')}" th:errors="*{maxAmount}"></span>
			<label for="duration">Срок в днях</label>
			<input type="number" th:field="*{duration}" id="duration" placeholder="365">
			<span th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></span>
			<label for="rate">Процент по кредиту</label>
			<input type="number" th:field="*{rate}" id="rate" placeholder="10.0">
			<span th:if="${#fields.hasErrors('rate')}" th:errors="*{rate}"></span>
			<input type="submit" value="Предложить">   
		</form>
		<a th:href="@{/office/admin/credit-cards}">Отменить</a>
    </body>
</html>