<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8"/>
        <title>Панель Администратора</title>
    </head>
    <body>
		<a th:href="@{/office}">Назад</a>
		<h2>Панель Администратора</h2>
        <div>
			<a th:href="@{admin/credit-cards}">Заявки на кредитные карты</a>
			<a th:href="@{admin/transfers}">Мониторинг переводов</a>
			<a th:href="@{admin/deposit-rates}">Тарифы по кредитам</a>
			<a th:href="@{admin/config}">Конфиг</a>
		</div>
    </body>
</html>