<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
		<meta charset="UTF-8"/>
        <title>Заявки на кредитные карты</title>
    </head>
    <body>
        <div>
			<a th:href="@{/office/admin}">Назад</a>
		</div>
		<div th:switch="${creditCards}">
			<h2 th:case="null">Заявок нет</h2>
				<div th:case="*">
					<h2>Заявки на кредитные карты</h2>
					<table>
						<thead>
							<tr>
								<th>Номер</th>
								<th>Лимит</th>
								<th>Процент</th>
								<th>Срок</th>
								<th>Принять</th>
								<th>Отклонить</th>
							</tr>
						</thead>
						<tbody>
						<tr th:each="card : ${creditCards}">
							<td th:text="${card.id}"></td>
							<td th:text="${card.maxAmount}"></td>
							<td th:text="${card.rate}"></td>
							<td th:text="${card.duration}"></td>
							<td><a th:href="@{credit-cards/edit(id=${card.id})}">Предложить</a></td>
							<td><a th:href="@{credit-cards/deny(id=${card.id})}">Отказать</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
    </body>
</html>