<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
		<meta charset="UTF-8"/>
        <title>Конфигурация</title>
    </head>
    <body>
        <div>
			<a th:href="@{/office/admin}">Назад</a>
		</div>
		<div th:switch="${configs.isEmpty()}">
			<h2 th:case="true">Нет конфигураций</h2>
				<div th:case="false">
					<h2>Конфигурация</h2>
					<table>
						<thead>
							<tr>
								<th>Номер</th>
								<th>Размер пени по просроченному кредиту</th>
								<th>Максимальный размер пени</th>
								<th>Комиссия при конвертации валюты</th>
								<th>Комиссия за переводы на карты других банков</th>
								<th>Изменить</th>
								<th>Удалить</th>
							</tr>
						</thead>
						<tbody>
						<tr th:each="config : ${configs}">
							<td th:text="${config.id}"></td>
							<td th:text="${config.penny}"></td>
							<td th:text="${config.maxPenny}"></td>
							<td th:text="${config.comission}"></td>
							<td th:text="${config.transferComission}"></td>
							<td><a th:href="@{config/edit(id=${config.id})}">Изменить</a></td>
							<td><a th:href="@{config/delete(id=${config.id})}">Удалить</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<p><a th:href="@{config/edit}">Новый конфиг</a></p>
		</div>
    </body>
</html>