<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8"/>
        <title>Кредитные карты</title>
    </head>
    <body>
        <div>
			<a th:href="@{/office}">Назад</a>
			<a th:href="@{credit-cards/requests}">Заявки</a>
		</div>
		<div th:switch="${creditCards.isEmpty()}">
			<h2 th:case="true">У вас нет активных карт</h2>
				<div th:case="false">
					<h2>Кредитные карты</h2>
					<table>
						<thead>
							<tr>
								<th>Номер</th>
								<th>Лимит</th>
								<th>Процент</th>
								<th>Дата закрытия</th>
							</tr>
						</thead>
						<tbody>
						<tr th:each="card : ${creditCards}">
							<td th:text="${card.id}"></td>
							<td th:text="${card.maxAmount}"></td>
							<td th:text="${card.rate}"></td>
							<td th:text="${card.expirationDate}"></td>
						</tr>
					</tbody>
				</table>
			</div>      
			<p><a th:href="@{credit-cards/add}">Создать заявку</a></p>
		</div>
    </body>
</html>