<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8"/>
        <title>Кредиты</title>
    </head>
    <body>
        <div>
			<a th:href="@{/office}">Назад</a>
		</div>
		<div th:switch="${credits}">
			<h2 th:case="null">Кредитов нет</h2>
				<div th:case="*">
					<h2>Список кредитов</h2>
					<table>
						<thead>
							<tr>
								<th>Номер</th>
								<th>Номер кредитной карты</th>
								<th>К оплате</th>
								<th>Пенни</th>
								<th>Дата завершения</th>
								<th>Погасить</th>
							</tr>
						</thead>
						<tbody>
						<tr th:each="credit : ${credits}">
							<td th:text="${credit.id}"></td>
							<td th:text="${credit.creditCard.id}"></td>
							<td th:text="${credit.amount}"></td>
							<td th:text="${credit.penny}"></td>
							<td th:text="${credit.expirationDate}"></td>
							<td><a th:href="@{credits/repay(id=${credit.id})}">Погасить</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<p><a th:href="@{credits/add}">Взять кредит</a></p>
		</div>
    </body>
</html>