<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8"/>
        <title>Вклады</title>
    </head>
    <body>
        <div>
			<a th:href="@{/office}">Назад</a>
		</div>
		<div th:switch="${deposits.isEmpty()}">
			<h2 th:case="true">Вкладов нет</h2>
				<div th:case="false">
					<h2>Вклады</h2>
					<div th:if="${error != null}" th:text="${error}" name="error"></div>
					<table>
						<thead>
							<tr>
								<th>Номер</th>
								<th>Балланс</th>
								<th>Автопродление включено</th>
								<th>Дата окончания</th>
								<th>Минимальная сумма вклада</th>
								<th>Максимальная сумма вклада</th>
								<th>Процентная ставка</th>
								<th>Капитализируемый</th>
								<th>Возможность закрыть досрочно</th>
								<th>Возможность вносить средства</th>
								<th>Возможность снять средства</th>
								<th>Закрыть</th>
								<th>Снять средства</th>
								<th>Внести средства</th>
							</tr>
						</thead>
						<tbody>
						<tr th:each="deposit : ${deposits}">
							<td th:text="${deposit.id}"></td>
							<td th:text="${deposit.amount}"></td>
							<td th:text="${deposit.renewable}"></td>
							<td th:text="${deposit.expirationDate}"></td>
							<td th:text="${deposit.depositRate.minAmount}"></td>
							<td th:text="${deposit.depositRate.maxAmount}"></td>
							<td th:text="${deposit.depositRate.rate}"></td>
							<td th:text="${deposit.depositRate.capitalized}"></td>
							<td th:text="${deposit.depositRate.closable}"></td>
							<td th:text="${deposit.depositRate.replenishable}"></td>
							<td th:text="${deposit.depositRate.withdrawable}"></td>
							<td><a th:href="@{deposits/close(id=${deposit.id})}">Закрыть</a></td>
							<td><a th:href="@{deposits/withdraw(id=${deposit.id})}">Снять средства</a></td>
							<td><a th:href="@{deposits/replenish(id=${deposit.id})}">Внести средства</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<p><a th:href="@{deposits/add}">Создать вклад</a></p>
		</div>
    </body>
</html>