<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
		<meta charset="UTF-8"/>
        <title>Тарифы по кредитам</title>
    </head>
    <body>
        <div>
			<a th:href="@{/office/admin}">Назад</a>
		</div>
		<div th:switch="${depositRates}">
			<h2 th:case="null">Тарифов нет</h2>
				<div th:case="*">
					<h2>Тарифы</h2>
					<table>
						<thead>
							<tr>
								<th>Номер</th>
								<th>Минимальная сумма вклада</th>
								<th>Максимальная сумма вклада</th>
								<th>Процентная ставка</th>
								<th>Длительность</th>
								<th>Капитализируемый</th>
								<th>Возможность закрыть досрочно</th>
								<th>Возможность вносить средства</th>
								<th>Возможность снять средства</th>
								<th>Изменить</th>
								<th>Удалить</th>
							</tr>
						</thead>
						<tbody>
						<tr th:each="rate : ${depositRates}">
							<td th:text="${rate.id}"></td>
							<td th:text="${rate.minAmount}"></td>
							<td th:text="${rate.maxAmount}"></td>
							<td th:text="${rate.rate}"></td>
							<td th:text="${rate.duration}"></td>
							<td th:text="${rate.capitalized}"></td>
							<td th:text="${rate.closable}"></td>
							<td th:text="${rate.replenishable}"></td>
							<td th:text="${rate.withdrawable}"></td>
							<td><a th:href="@{deposit-rates/edit(id=${rate.id})}">Изменить</a></td>
							<td><a th:href="@{deposit-rates/delete(id=${rate.id})}">Удалить</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<p><a th:href="@{deposit-rates/edit}">Новый тариф</a></p>
		</div>
    </body>
</html>