<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8"/>
        <title>Изменение конфигурации</title>
    </head>
    <body>
        <form action="#" th:action="@{edit}" th:object="${config}" method="post">
			<input type="hidden" th:field="*{id}">
			<label for="penny">Размер пени по просроченному кредиту</label>
			<input type="number" th:field="*{penny}" id="penny" placeholder="0.0">
			<span th:if="${#fields.hasErrors('penny')}" th:errors="*{penny}"></span>
			<label for="maxPenny">Максимальный размер пени</label>
			<input type="number" th:field="*{maxPenny}" id="maxPenny" placeholder="0.0">
			<span th:if="${#fields.hasErrors('maxPenny')}" th:errors="*{maxPenny}"></span>
			<label for="comission">Комиссия при конвертации валюты</label>
			<input type="number" th:field="*{comission}" id="comission" placeholder="0.0">
			<span th:if="${#fields.hasErrors('comission')}" th:errors="*{comission}"></span>
			<label for="transferComission">Комиссия за переводы на карты других банков</label>
			<input type="number" th:field="*{transferComission}" id="transferComission" placeholder="0.0">
			<span th:if="${#fields.hasErrors('transferComission')}" th:errors="*{transferComission}"></span>
			
			<input type="submit" value="Подтвердить">   
		</form>
		<a th:href="@{/office/admin/config}">Отменить</a>
    </body>
</html>