<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8"/>
        <title>Добро пожаловать</title>
    </head>
    <body>
        <h2>Добро пожаловать</h2>
        <a th:href="@{/login}">Войти</a>
		<a th:href="@{/registration}">Регистрация</a>
    </body>
</html>