<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
		<meta charset="UTF-8"/>
        <title>Кабинет</title>
    </head>
    <body>
		<h2>Кабинет</h2>
        <div>
			<a th:href="@{office/credit-cards}">Кредитные карты</a>
			<a th:href="@{office/credits}">Кредиты</a>
			<a th:href="@{office/transfers}">Переводы</a>
			<a th:href="@{office/deposits}">Вклады</a>
		</div>
		<div sec:authorize="hasRole('ADMIN')">
			<hr>
			<a th:href="@{office/admin}">Администрирование</a>
		</div>
		<div>
			<hr>
			<a th:href="@{/logout}">Выйти</a>
		</div>
    </body>
</html>