<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8"/>
        <title>Регистрация</title>
    </head>
    <body>
        <form th:action="@{/registration}" th:object="${user}" method="post">
			<div th:if="${error != null}" th:text="${error}" name="error"></div>
			<label for="name">Имя</label>
			<input type="text" th:field="*{fullName.name}" id="name">
			<label for="patronymic">Отчество</label>
			<input type="text" th:field="*{fullName.patronymic}" id="patronymic">
			<label for="surname">Фамилия</label>
			<input type="text" th:field="*{fullName.surname}" id="surname">
			<label for="username">Имя пользователя</label>
			<input type="text" th:field="*{username}" id="username">
			<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
			<label for="surname">Пароль</label>
			<input type="password" th:field="*{password}" id="password">
			<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
			<input type="submit" value="Регистрация" />
		</form>
    </body>
</html>