<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8"/>
        <title>Погасить кредит</title>
    </head>
    <body>
        <form action="#" th:action="@{repay}" method="post">
			<label for="amount">Сумма</label>
			<input type="number" th:value="*{amount}" id="amount" placeholder="0.0">
			<input type="hidden" th:value="*{id}">
			<input type="submit" value="Погасить">   
		</form>
		<a th:href="@{/office/credits}">Назад</a>
    </body>
</html>