<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8"/>
        <title>История переводов</title>
    </head>
    <body>
        <div>
			<a th:href="@{/office}">Назад</a>
		</div>
		<div th:switch="${transfers.isEmpty()}">
			<h2 th:case="true">Переводов еще не было</h2>
				<div th:case="false">
					<h2>Переводы</h2>
					<table>
						<thead>
							<tr>
								<th>Номер карты отправителя</th>
								<th>Номер карты получателя</th>
								<th>Сумма</th>
								<th>Дата и время</th>
								<th>Статус</th>
							</tr>
						</thead>
						<tbody>
						<tr th:each="transfer : ${transfers}">
							<td th:text="${transfer.from.serialNumber}"></td>
							<td th:text="${transfer.destination}"></td>
							<td th:text="${transfer.amount}"></td>
							<td th:text="${transfer.dateTime}"></td>
							<td th:text="${transfer.status}"></td>
						</tr>
					</tbody>
				</table>
			</div>      
			<p><a th:href="@{transfers/add}">Новый перевод</a></p>
		</div>
    </body>
</html>