<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8"/>
        <title>Снять средства</title>
    </head>
    <body>
        <form action="#" th:action="@{withdraw}" method="post">
			<div th:if="${error != null}" th:text="${error}" name="error"></div>
			<label for="amount">Сумма</label>
			<input type="number" th:value="${amount}" id="amount" name="amount" placeholder="0.0">
			<input type="hidden" th:value="${id}" name="id">
			<input type="submit" value="Снять средства">   
		</form>
		<a th:href="@{/office/deposits}">Отменить</a>
    </body>
</html>